body {
    margin:0;    
}


.movieCardContainer {
    background: #464242;
    height: 250vh;
    padding: 10px 0 0 10px;
}

.movieLang {
    background: #464242;
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.search {
    color: white;
}